/* General elements */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 625px){
    html{
        font-size: 12px;
    }
}
@media (min-width: 625px) and (max-width: 1200px){
    html{
        font-size: 14px;
    }
}
@media (min-width: 1200px){
    html{
        font-size: 16px;
    }
}
a:link, a:hover, a:focus{
    text-decoration: none;
}
img{
    width: 100%;
}

p{
    word-break: break-word;
}

/* Nav styles */
#page-header{
    padding: 3em;
    background-color: #F8F8F8;
}
.container{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 1.5rem;
}
#page-header nav ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
}
#page-header a, #page-header a:link{
    color: #717171;
    font-weight: bold;
    font-family: Ubuntu, sans-serif;
    letter-spacing: 3.2px;
    text-align: center;
    text-transform: uppercase;
}
#current-page{
    text-decoration: underline;
}
.logo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}
.logo h1{
    color: #143774;
    font-weight: normal;
    font-family: Lora, sans-serif;
    letter-spacing: 0px;
    font-size: 1.95rem;
}
.logo p{
    color: #1792D2;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    letter-spacing: 2.4px;
    font-size: 0.7rem;
}
#current_page{
    border-bottom: 2px solid #707070 ;
    padding-bottom: 3px;
    padding-left: 2px
}

/*  Media queries for nav */

@media (min-width: 625px){
    .container{
        flex-direction: row;
        justify-content: space-around;
        gap: 4rem
    }
    #page-header nav ul{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        text-align: center;
    }
}

/* Main content organization. */
#main-content{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
}
#posts{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}
.second-row{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    gap: 2rem;
}

/* Post */

.post{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: baseline;
}
.post:nth-of-type(1){
    border-bottom: 3px solid #707070;
    padding-bottom: 5px;
}
.post-image{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.post-date{
    font-size: 0.85rem;
    color: #707070;
    font-family: 'Segoe UI', Regular;
}
.post-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.post-text h2{
    color: #143774;
    font-family: Lora, regular;
}
.post-text p{
    color: #707070;
    font-weight: normal;
}
.post-continue-reading{
    color: #1792D2;
    font-weight: bold;
    font-family: Ubuntu, sans-serif;
    font-size: 1.2rem;
}

/* About me section */
#about-me{
    background-color: #EBEBEB;
}
#about-me article{
    display: flex;
    width: 90%;
    background-color: #FFFFFF;
    margin: 1rem auto;
    padding: 1rem;
    flex-direction: column;
    gap: 1.3rem;
}
#about-me h3{
    font-family: Lora, Regular;
    font-weight: 600;
    color: #143774;
    letter-spacing: 1px;
}
#about-me p{
    font-family: Ubuntu, sans-serif;
    font-weight: normal;
    color: #143774;
}
#about-me img{
    object-fit: cover;
    width: 100%;
    height: 60px;
}